*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    
  
}

  
#conteudo-Left{
    
    width: 50%;
    height: 657px;
    background-color: black;
    color: white;
    padding: 90px;
    padding-top: 50px;
    
}

.left-Lado{
    display: flex;
    flex-direction: column;
    gap: 60px;
 
 }

header{
    
    color: #FFFFFF;
    font-size: 10px;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.cowboy{
    color: #FC013E;
    font-size: 32px;
}

.lorem{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.loremIpsum p{
   
   margin-top: -33px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   
   
}

a{
    text-decoration: none;
}

.buttons, .buttonColorred, .buttonColorwhite{
    margin-left: 8px;
    margin-top: 40px;
    color: #FFFFFF; 
    font-family: Arial, Helvetica, sans-serif;
    
}

.buttonColorred {
    background-color: #EC013A;
    padding: 17px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    
}

.icons i{
    font-size: 43px;
    margin-top: 40px;
    width: 57px;
   

}


 #conteudo-Right{
    display: flex;

    width: 50%;
    height: 657px;
    border: 1px solid yellow;
    background-color: rgb(59, 58, 58);
    color: white;
 }

 .right-Lado, .opcoes-Menu a{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
    margin-left: 85px;
    padding-top: 70px; 
 }

 .imgBike, img{
    width: 600px;
    
    margin-left: -23px;
    margin-top: 15px;
 }

